# Ignore sensitive config
/config.py
.env
.env.*
claude.md

# Ignore Google OAuth tokens and credentials
token.json
credentials.json
*_token.json
*_credentials.json

# Ignore real logos
app/static/logo.png
app/static/logo2.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class